@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .skew-container::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    bottom: 10px;
    border: 4px solid #3c0b60;
    transform: skew(-3deg);
    z-index: -1;
    border-radius: inherit; /* Ensure the border follows the container's border radius */
  }
  .skew-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 4px solid #39e0ad;

    z-index: -1;
    border-radius: inherit; /* Ensure the border follows the container's border radius */
  }
}
