@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
  --animate-blob: blob 10s infinite;

  --color-primary-50: oklch(97.68% 0.0142 308.3);
  --color-primary-100: oklch(94.8% 0.0299 307.12);
  --color-primary-200: oklch(90.54% 0.0546 306.68);
  --color-primary-300: oklch(83.18% 0.0998 307.12);
  --color-primary-400: oklch(72.81% 0.1631 306.24);
  --color-primary-500: oklch(63.32% 0.2165 305.29);
  --color-primary-600: oklch(56.1% 0.2375 304.1);
  --color-primary-700: oklch(49.63% 0.2229 303.65);
  --color-primary-800: oklch(46.31% 0.1972 305.28);
  --color-primary-900: oklch(38.2% 0.155 306.15);
  --color-primary-950: oklch(29.12% 0.136 304.86);

  --color-secondary-50: oklch(98.09% 0.0225 168.76);
  --color-secondary-100: oklch(95.56% 0.0557 166.26);
  --color-secondary-200: oklch(91.47% 0.0968 166.71);
  --color-secondary-300: oklch(86.4% 0.1373 168);
  --color-secondary-400: oklch(81.12% 0.1523 167.31);
  --color-secondary-500: oklch(72.74% 0.1511 165.59);
  --color-secondary-600: oklch(62.62% 0.1286 166.76);
  --color-secondary-700: oklch(53.32% 0.1066 169.08);
  --color-secondary-800: oklch(45.11% 0.08827519014992911 171.0939321752109);
  --color-secondary-900: oklch(39.44% 0.0755 172.71);
  --color-secondary-950: oklch(27.26% 0.0509 175.86);

  --color-tertiary-50: oklch(98.57% 0.0158 192.09);
  --color-tertiary-100: oklch(96.08% 0.0565 190.82);
  --color-tertiary-200: oklch(93.16% 0.1032 189.51);
  --color-tertiary-300: oklch(89.71% 0.1288 192.05);
  --color-tertiary-400: oklch(83.35% 0.139 194.82);
  --color-tertiary-500: oklch(74.93% 0.1273 196.08);
  --color-tertiary-600: oklch(62.65% 0.1065 199.65);
  --color-tertiary-700: oklch(53.02% 0.0892 199.86);
  --color-tertiary-800: oklch(44.62% 0.0731 201.3);
  --color-tertiary-900: oklch(39.45% 0.0624 201.16);
  --color-tertiary-950: oklch(27.51% 0.047 206.15);

  --color-dark-50: oklch(97.31% 0 0);
  --color-dark-100: oklch(92.8% 0 0);
  --color-dark-200: oklch(86.07% 0 0);
  --color-dark-300: oklch(75.72% 0 0);
  --color-dark-400: oklch(62.68% 0 0);
  --color-dark-500: oklch(53.48% 0 0);
  --color-dark-600: oklch(47.84% 0 0);
  --color-dark-700: oklch(42.76% 0 0);
  --color-dark-800: oklch(39.04% 0 0);
  --color-dark-900: oklch(36% 0 0);
  --color-dark-950: oklch(25.62% 0 0);

  --color-almost-white: oklch(99.7% 0 0);
  --color-success: oklch(70.05% 0.1631 154.14);
  --color-warning: oklch(70% 0.1508 62.56);
  --color-danger: oklch(59.82% 0.178 22.38);

  --font-nunito: var(--font-nunito), sans-serif;
  --font-montserrat: var(--font-montserrat), sans-serif;

  @keyframes blob {
    0%,
    100% {
      transform: translate(0, 0) scale(1);
    }
    25% {
      transform: translate(20px, -50px) scale(1.2);
    }
    50% {
      transform: translate(0, 0px) scale(1);
    }
    75% {
      transform: translate(-20px, -20px) scale(0.9);
    }
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

/* Mapping WP classes to Tailwind CSS */
@utility post-content {
  h1 {
    @apply mt-8 mb-4 text-4xl font-bold md:text-5xl;
  }

  h2 {
    @apply mt-8 mb-4 text-3xl font-bold md:text-4xl;
  }

  h3 {
    @apply mt-8 mb-4 text-2xl font-bold md:text-3xl;
  }

  h4 {
    @apply mt-8 mb-4 text-xl font-bold md:text-2xl;
  }

  h5 {
    @apply mt-8 mb-4 text-lg font-bold md:text-xl;
  }

  h6 {
    @apply mt-8 mb-4 text-base font-bold md:text-lg;
  }

  a {
    @apply decoration-primary-500 text-primary-500 hover:text-primary-600 underline duration-300 ease-in-out hover:no-underline hover:decoration-0;
  }

  hr {
    @apply border-primary-200 my-8 border-t;
  }

  .wp-block-image.aligncenter {
    @apply flex justify-center;
  }

  .wp-block-columns {
    @apply grid grid-cols-1 items-center gap-8 md:grid-cols-2;
  }

  blockquote {
    @apply bg-primary-50 dark:bg-primary-500 dark:text-almost-white border-primary-500 dark:border-primary-900 my-8 border-l-4 p-4 italic;
  }

  .wp-block-list {
    @apply list-inside list-disc;
  }

  .wp-block-gallery {
    @apply grid grid-cols-1 gap-8 md:grid-cols-2;
  }

  .wp-block-code {
    @apply max-w-full overflow-x-scroll rounded-sm bg-slate-800 p-4 dark:bg-slate-900;

    code {
      @apply font-nunito text-almost-white text-sm;
    }
  }
}

@utility skew-container {
  &::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    bottom: 10px;
    border: 4px solid oklch(86.4% 0.1373 168);
    z-index: -1;
    border-radius: inherit;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 4px solid oklch(83.18% 0.0998 307.12);
    transform: skew(-3deg);
    z-index: -1;
    border-radius: inherit;
  }

  .dark &::before {
    border-color: oklch(81.12% 0.1523 167.31);
  }

  .dark &::after {
    border-color: oklch(29.12% 0.136 304.86);
  }
}

@utility submitbtn {
  &:disabled {
    opacity: 50%;
  }
}

@utility animation-delay-2000 {
  animation-delay: 2s;
}

@utility animation-delay-4000 {
  animation-delay: 4s;
}

@layer components {
  strong {
    @apply decoration-primary-500 underline;
  }

  button {
    @apply cursor-pointer;
  }

  input,
  textarea {
    @apply bg-almost-white;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: oklch(90.59% 0.05946195349062914 308.2493116119952);
  }

  ::-webkit-scrollbar-thumb {
    background: oklch(63.32% 0.2165 305.29);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: oklch(49.63% 0.2229 303.65);
  }

  /* Firefox fix */
  html {
    scrollbar-color: oklch(63.32% 0.2165 305.29)
      oklch(90.59% 0.05946195349062914 308.2493116119952);
  }
}

.skew-container__reverse {
  &::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    bottom: 10px;
    border: 4px solid oklch(86.4% 0.1373 168);
    z-index: -1;
    border-radius: inherit;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 4px solid oklch(83.18% 0.0998 307.12);
    transform: skew(3deg);
    z-index: -1;
    border-radius: inherit;
  }

  .dark &::before {
    border-color: oklch(81.12% 0.1523 167.31);
  }

  .dark &::after {
    border-color: oklch(29.12% 0.136 304.86);
  }
}
